.btn-share{
	margin-bottom:20px;
}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
	text-align: center;
	border-radius: 20px;
}
.box h1{
	color: white;
	font-weight: 500;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: pink;
	background-repeat: no-repeat;
	background-position: top;
}
.flex-container{
	display: flex;
	padding: 50px;
	justify-content: center;
}
@media screen and (min-width: 480px) {
	body {
		background-color: cadetblue;
	}
}

.ground {
	background-image: url(./../../images/14.jpeg);
	background-size: cover;
	color: #ececf6;
}